<div class="container min-h-screen mx-auto p-4">
  <h2 class="text-xl font-semibold mb-4">
    Total Orders (<%= products.length %>)
  </h2>

  <!-- Sorting field dropdown -->
  <div class="flex justify-between items-center mb-4">
    <div class="flex space-x-4">
      <label for="sortField" class="text-gray-700 font-semibold"
        >Sort by:</label
      >
      <select
        id="sortField"
        class="bg-white border border-gray-300 rounded px-4 py-2"
        onchange="sortByField()"
      >
        <option value="status">Status</option>
        <option value="createdAt">Order Date</option>
      </select>
    </div>

    <div>
      <button class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600">
        <i class="fas fa-trash"></i> Multiple Delete
      </button>
    </div>
  </div>

  <div class="overflow-x-auto min-h-screen">
    <table class="min-w-full bg-white border border-gray-200">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 border text-left">
            <input type="checkbox" />
          </th>
          <th class="px-4 py-2 border text-left">Product Name</th>
          <th class="px-4 py-2 border text-left">Customer</th>
          <th class="px-4 py-2 border text-left">Address</th>
          <th class="px-4 py-2 border text-left">Phone Number</th>
          <th class="px-4 py-2 border text-left">Price</th>
          <th class="px-4 py-2 border text-left">Status</th>
          <th class="px-4 py-2 border text-left">Order Date</th>
          <th class="px-4 py-2 border text-left">Action</th>
        </tr>
      </thead>
      <tbody id="productTableBody">
        <% products.forEach(function(order) { %>
        <tr>
          <td class="px-4 py-2 border"><input type="checkbox" /></td>
          <td class="px-4 py-2 border">
            <% order.items.forEach(function(item, index) { %>
            <div><%= index + 1 %>. <%= item.productName %></div>
            <% }); %>
          </td>

          <td class="px-4 py-2 border">
            <span class="text-black px-2 py-1 text-md">
              <%= order.billingDetails.firstName + ' ' +
              order.billingDetails.lastName %>
            </span>
          </td>
          <td class="px-4 py-2 border">
            <%= order.billingDetails.address + ', ' +
            order.billingDetails.apartment + ', ' + order.billingDetails.city %>
          </td>
          <td class="px-4 py-2 border"><%= order.billingDetails.phone %></td>
          <td class="px-4 py-2 border">Tk <%= order.total %></td>
          <td class="px-4 py-2 border">
            <span
              class="bg-green-200 text-green-800 px-2 py-1 rounded-full text-xs"
            >
              <%= order.status %>
            </span>
          </td>
          <td class="px-4 py-2 border">
            <%= new Date(order.createdAt).toISOString().slice(0, 10) %>
          </td>
          <td class="px-4 py-2 border">
            <div class="relative inline-block text-left">
              <button
                class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
                type="button"
                onclick="toggleDropdown('<%= order._id.$oid %>')"
              >
                Actions
              </button>
              <div
                id="dropdown-<%= order._id.$oid %>"
                class="origin-top-right z-[1] absolute right-0 mt-2 w-40 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-10 hidden"
              >
                <div class="py-1">
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300"
                    >Confirm</a
                  >
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300"
                    >Cancel</a
                  >
                </div>
              </div>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<script>
  function toggleDropdown(orderId) {
    const dropdown = document.getElementById(`dropdown-${orderId}`);
    dropdown.classList.toggle("hidden");
  }

  document.addEventListener("click", function (event) {
    const dropdowns = document.querySelectorAll('[id^="dropdown-"]');
    dropdowns.forEach((dropdown) => {
      if (!dropdown.contains(event.target) && !event.target.matches("button")) {
        dropdown.classList.add("hidden");
      }
    });
  });
</script>
